<div class="col-md-6 col-md-push-3">
	<div class="jumbotron notebox middle-reset">
		<div class="container">

			<h4>Password Recovery</h4>
			<p>Please enter your email address used to sign up for your account</p>
			<p>We will send you confirmation link.</p>

			<form role="form" name="requestForm" novalidate id="reset_request">
				<div class="form-group" >
					<input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="vm.email" required>

					<!--<span  rel="email" ng-show="helpers.hasError(this, 'email', 'email', true)">Invalid email address</span>
					<span  rel="required" ng-show="helpers.hasError(this, 'email', 'required', true)">Please enter your email address</span>-->
				</div>

				<button type="submit" ng-disabled="requestForm.$invalid" class="btn btn-primary recover-button" ng-click="vm.submit()">Recover</button>
			</form>

		</div>
	</div>
</div>
